@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #E9D9BF;
  --cor1: #E5B363;
  --cor2: #B28B4D;
  --cor3: #654F2C;
  --cor4: #665539;
}
header {
  display: grid;
  justify-items: center;
}

header img {
  display: block;
  max-width: 180px;
}

nav {
  background: var(--cor4);
}

nav.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

nav.menu a {
  background: var(--cor4);
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--cor0);
  text-transform: uppercase;
  text-decoration: none;
}
